@import 'reset';
@import 'mixins';
@import 'colors';

body {
	font-family: Century Gothic, sans-serif;
	color: #F2F2F2;
	background-color: $background_page;
}

a {
	text-decoration: none;
}

header{
	@include hf(5em, $background_hf)
}

header {
	a {
  		color: #F78181;
	}
}

nav ul {
	color: #FFFF00;
	list-style-type: none;
	
	a {
		color: #FA5858
  	}
  
  	a:hover {
    		color: #FF0000;
    	}

}

input {
	margin: 2em auto;
	display: block;
	border: none;
}

footer{
	@include hf(3em, $background_hf);
	bottom: 0;
	position: absolute;
}
