{{define "ip"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Web-tools - {{.Title}}</title>
	</head>
	<center>
    <body>
		  {{template "header" .Title}}
      <hr>
		  <p><h1>{{.Request}}</h1></p>
	  </body>
  <center>
</html>
{{end}}
