{{define "ip"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Web-tools - {{.Title}}</title>
	</head>
	<body>
		  {{template "header" .Title}}
		  <hr>
		  <p>{{.Request}}</p>
		  {{template "footer"}}
	  </body>
</html>
{{end}}
