{{define "tool"}}
<!DOCTYPE html>
<html>  
	<head>
		<title>Web-tools - {{.Title}}</title>
	</head>
	<body>
		{{template "header"}}
		<form action="" method="GET">
			<div><input name="body" value="{{printf "%s" .Body}}"></div>
			<div><input type="submit" value="{{.Title}}"></div>
		</form>
		<h1>{{.Request}}</h1>
	</body>
</html>
{{end}}
